html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.images-container {
    position: relative;
    width: 100%;
}

.banner-container {
    height: 300px;
    position: relative;
    overflow: hidden;
}

.banner-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.floating-images {
    position: absolute;
    top: 220px;
    left: 0;
    width: 100%;
    display: flex;
    gap: 3rem;
    padding-left: 5rem;
    z-index: 10;
    align-items: center;
}

.profile-container {
    position: relative;
    width: 140px;
    height: 140px;
}

.logo-container {
    position: relative;
    width: 120px;
    height: 120px;
}

.profile-container img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.logo-container img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.cover-overlay-btn,
.profile-overlay-btn,
.logo-overlay-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.cover-overlay-btn:hover, .cover-overlay-btn,
.profile-container:hover .profile-overlay-btn,
.logo-container:hover .logo-overlay-btn {
    opacity: 1;
}

.cover-overlay-btn button,
.profile-overlay-btn button,
.logo-overlay-btn button {
    background: transparent;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


.input-fields-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
    margin-left: 3rem;
}

.input-field {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.input-field label {
    flex: 0 0 120px;
    font-size: 18px;
    text-align: right;
}

.input-field input {
    width: 400px;
    padding: 0.4rem;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    font-family: inherit;
}

.img-input-field {
    background: pink;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.buttons button,
.buttons input {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 100px;
    border: 1px solid #cccccc;
    cursor: pointer;
    background-color: #F8F8FF;
    font-family: inherit;
    color: black;
    transition: background-color 0.2s ease-in-out;
}

.buttons button:hover,
.buttons input:hover {
    background-color: #DCDCFF;
}

footer {
    margin-top: auto;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}