# created by virtualenv automatically

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/Lib

# Pycharm
.idea/
.idea
idea/

**/__pycache__
*/__pycache__
/castle_apartments/__pycache__