html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.page-container {
    flex: 1;
}

.input-fields-container {
    flex: 1;
    max-width: 600px;
    margin: auto;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem 2rem;
}

.search-container input[type="search"],
.status-filter select {
    padding: 10px;
    background-color: #F8F8FF;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font: inherit;
    font-size: 1rem;
    width: 500px;
    height: 40px;
}

.search-button {
    padding: 0.2rem 0.5rem;
    background-color: #DCDCFF;
    color: black;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.search-button:hover {
    background-color: mediumpurple;
    color: white;
}

.status-filter select {
    padding: 0.5rem;
    width: 180px;
    font-family: 'Times New Roman', serif;
}

.search-container input[type="text"],
.status-filter select {
    padding: 10px;
    background-color: #F8F8FF;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 1rem;
}

.my-offer-grid {
    display: grid;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.property-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    padding: 20px;
}
.property-content {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
}

.property-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-right: 8px;
    max-font-size: 100%;
    max-height: 250px;
}


.property-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.property-details a{
    color: black;
    text-decoration: none;
}

.property-details a:hover {
    text-decoration: underline;
}

.seller {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.seller-card {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 0.2rem;
}

.seller-card:hover {
    transform: scale(1.05);
}

.seller-card img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.seller-info {
    display: flex;
    flex-direction: column;
}

.seller-info a{
    color: black;
    font-size: 16px;
}

.status {
    padding: 4px 8px;
    display: inline-block;
}

.status.accepted {
    background-color: #9CFF9F;
}

.status.pending {
    background-color: #91CEFF;
}

.status.contingent {
    background-color: #FF99F3;
}

.status.rejected {
    background-color: #FF9999;
}

.buttons {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: flex-end;
}

.buttons button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: 2px solid #cccccc;
    background-color: white;
    border-radius: 0.5rem;
    font-family: 'Times New Roman', serif;
}


.buttons button:hover {
    background-color: #DCDCFF;
}

footer {
    margin-top: auto;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    flex-shrink: 0; /* Ensure the footer doesn't shrink */
}

@media (max-width: 768px) {
    .property-content {
        flex-direction: column;
        align-items: center;
    }

    .property-image {
        width: 80%;
        height: auto;
        margin-right: 0;
    }

    .property-details {
        align-items: center;
        text-align: center;
    }

    .seller-card {
        margin-top: 1rem;
    }

    .buttons {
        justify-content: center;
    }
}