html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.img-container {
    position: relative;
    max-width: 1400px;
    width: 100%;
    max-height: 500px;
    margin: 0 auto;
    aspect-ratio: 3 / 1;
}

.cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    max-width: 100%;
}

.seller-profile-picture {
    position: absolute;
    bottom: -50px;
    left: 3rem;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid #cccccc;
    object-fit: cover;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.logo {
    position: absolute;
    bottom: -50px;
    left: 15rem;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #cccccc;
    object-fit: cover;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

#logo,
#property-img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #cccccc;
    margin-bottom: 1rem;
}

.details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    padding: 0 3rem;
    box-sizing: border-box;
}

.info-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 3rem 3rem 2rem 3rem;
}

.info-container strong {
    font-size: 18px;
}

.info-container p {
    font-size: 18px;
}

.properties-container {
    flex: 2;
    margin: 3rem auto auto auto;
    width: 100%;
    box-sizing: border-box;
}

.properties-container p{
    font-size: 18px;
}

.property-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 100%;
    max-width: 1400px;
    gap: 1rem;
    box-sizing: border-box;
    justify-items: flex-end;
}

.property-cards a{
    text-decoration: none;
}

.property-card {
    width: 250px;
    display: flex;
    flex-direction: column;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 250px;
}

.property-card img {
    object-fit: contain;
    display: block;
    margin: 0.5rem auto auto auto;
}

.property-card:hover {
    transform: scale(1.05);
}

.property-info p,
.rooms {
    font-size: 16px;
    color: black;
    text-decoration: none;
    margin: 0 auto 0.5rem 0.5rem;
}

.buttons {
    display: flex;
    justify-content: left;
    margin: 2rem;
}



.buttons button{
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 100px;
    border: 1px solid #cccccc;
    cursor: pointer;
    background-color: #F8F8FF;
    font-family: inherit;
    color: black;
    transition: background-color 0.2s ease-in-out;
}

.buttons button:hover {
    background-color: #DCDCFF;
}

footer {
    margin-top: auto;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

@media (min-width: 1024px) {
    .property-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .img-container {
        aspect-ratio: 3 / 1;
        position: relative;
        width: 100%;
        max-width: 100%;
    }
    .img-container img:first-child {
        width: 100%;
        max-width: 768px;
    }

    .page-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 100%;
    }

    .details-container {
        display: flex;
        flex-direction: column;  /* Change to column */
        justify-content: flex-start;
        gap: 2rem;
        width: 100%;
        padding: 0 3rem;
        box-sizing: border-box;
    }

    .info-container {
        width: 100%;
        max-width: none;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-start;
    }

     .properties-container {
        width: 100%;
        margin: 0;
    }

    .property-cards {
        width: 100%;
        max-width: 768px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1rem;
        padding: 2rem;
    }

}