/* Make html and body take full height of viewport and remove default margin */
html, body {
    height: 100%;
    margin: 0;
}

/* Container for input fields with max width and centered horizontally */
.input-fields-container {
    flex: 1;
    max-width: 600px;
    margin: auto;
}

/* Styling for the home screen background and layout */
.homescreen {
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

/* Style the text input inside homescreen */
.homescreen input[type=search] {
    font-size: 30px;
    padding: 0.75rem 1.5rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 90%;
    font-family: inherit;
    max-width: 1000px;
}
.homescreen input[type=button] {
    font-size: 30px;
    padding: 0.75rem 1.5rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 90%;
    font-family: inherit;
    max-width: 1000px;
}

/* Footer styling */
footer {
    margin-top: auto;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}