html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.property-card {
    flex: 1;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin: 3rem 3rem 3rem 3rem;
}

.custom-carousel {
    flex: 1;
    position: relative;
    width: 100%;
    max-height: 500px;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    max-height: 100%;
    max-width: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    vertical-align: middle;
}

.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.property-details {
    margin-top: 1.5rem;
    padding-left: 2rem;
    display: flex;
    flex: 1.2;
    flex-direction: column;
    font-size: 18px;
}

.seller {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.seller-card {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 0.5rem;
}

.seller-card:hover {
    transform: scale(1.05);
}

.seller-card img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.seller-info {
    display: flex;
    flex-direction: column;
}

.seller-info a{
    color: black;
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2rem;
}

.buttons button {
    padding: 10px 20px;
    font-family: inherit;
    font-size: 1rem;
    border-radius: 100px;
    border: 1px solid #cccccc;
    cursor: pointer;
    background-color: #F8F8FF;
    color: black;
    transition: background-color 0.2s ease-in-out;
}


.buttons button:hover,
.buttons input[type="submit"]:hover {
    background-color: #DCDCFF;
}

footer {
    margin-top: auto;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .property-card {
        flex-direction: column;
        align-items: center;
        margin: 1rem;
    }

    .custom-carousel {
        max-width: 100%;
        width: 100%;
    }

    .property-details {
        padding-left: 0;
        margin-top: 2rem;
        width: 100%;
    }

    .seller-card {
        justify-content: flex-start;
    }
}