html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.page-container {
    flex: 1;
}

.search {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: stretch;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.search input[type="search"]{
    flex-grow: 1;
    padding: 0.2rem;
    background-color: #F8F8FF;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 1rem;
    font-family: 'Times New Roman', serif;
    max-width: 500px;
}

.search button {
    padding: 0.2rem 0.5rem;
    background-color: #DCDCFF;
    color: black;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

.search button:hover {
    background-color: mediumpurple;
}

.sellers-page-container {
    padding: 2rem;
}

.sellers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
}

.seller-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    min-width: 280px;
    flex-grow: 1;
}

.seller-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.seller-address {
    text-wrap: wrap;
}

.seller-info a{
    color: black;
}

.seller-info a:hover{
    color: blue;
}

.seller-card:hover {
    transform: scale(1.05);
}

.seller-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #cccccc;
}

footer {
    margin-top: auto;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}