<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="{% static 'js/listing_filter.js' %}"></script>
</head>
<body>
    {% include "_navigation.html" %}
    
    <div class="homescreen">
        <input type="search" id="search-value" name="search" placeholder="Enter an address, City, Zip or Neighborhood">
        <button type="button" id="apply-filters" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>

    {% include "_footer.html" %}
</body>
</html>