<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    
</head>
<body>
    {% include "_navigation.html" %}
    <!-- Main content area for the home screen -->
    <div class="homescreen">
        <!-- Search input for address, city, zip code or neighborhood -->
        <form id="search-form" action="/" method ="get">
            <div class="search-bar">
                <input type="text" id="search-value" name="search_filter" placeholder="Enter an address, City, Zip or Neighborhood">
                <button type="submit" id="apply-filters" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>
    </div>

    {% include "_footer.html" %}
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const searchForm = document.getElementById('main-search-form');
        if (searchForm) {
          searchForm.addEventListener('submit', function () {
            
            const searchInput = document.getElementById('main-search-input').value;
            window.location.href = `/catalogue/?search_filter=${encodeURIComponent(searchInput)}`;
            
          });
        }
      });
    </script>
</body>
</html>