<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/buyer_profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    {% include "_navigation.html" %}

    {% for msg in messages %}
            {{ msg }}
    {% endfor %}
    <!--
    <form method="post" action="{% url 'buyer_profile' %}">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Update"/>
    </form> -->
    
    
    <div class="page-container">
        <form method="post" enctype="multipart/form-data" action="{% url 'buyer_profile' %}">
            {% csrf_token %}
            <div class="profile-pic-container">
                <img src="/media/{{user.buyer.profile_image_url}}" alt="Profile Picture">
                <h5>Set new profile picture</h5>
                {{form.profile_image_url}}
                
            </div>

            <div class="input-field">
                <h5>{{form.name.label}}</h5>
                {{form.name}}
            </div>
            <div class="input-field">
                <h5>{{form.name.contact_number}}</h5>
                {{form.contact_number}}
            </div>
            <div class="input-field">
                <h5>{{form.name.email}}</h5>
                {{form.email}}
            </div>
            <div class="input-field">
                <h5>{{form.name.street}}</h5>
                {{form.street}}
            </div>
            <div class="input-field">
                <h5>{{form.name.house_numb}}</h5>
                {{form.house_numb}}
            </div>
            <div class="input-field">
                <h5>{{form.name.zip_code}}</h5>
                {{form.zip_code}}
            </div>
            <div class="input-field">
                <h5>{{form.name.country}}</h5>
                {{form.country}}
            </div>
            <div class="buttons">
                <button type="button" onclick="window.history.back()">Go Back</button>
                <input type="submit" value="Save" onclick="console.log(form)"/>
            </div> 
        </form>
    </div>

    

    {% include "_footer.html" %}
</body>
</html>