<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/finalization_payment_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    {% include "_navigation.html" %}

    <main class="main-content">

        <div class="page-container">

            <form id="payment-form" method="post" action="{% url 'finalization_credit' %}">
                {% csrf_token %}
                <div class="payment">

                    <div id="credit-fields" class="payment-fields">
                        <div class="input-fields">
                            <label for="cardholder-name">Cardholder name:</label>
                            <input type="text" id="cardholder-name" name="cardholder-name">
                        </div>
                        <div class="input-fields">
                            <label for="card-number">Card number:</label>
                            <input type="text"  id="card-number" name="card-number">
                        </div>
                        <div class="input-fields">
                            <label for="expiry-date">Expiry date:</label>
                            <input type="month" id="expiry-date" name="expiry-date">
                        </div>
                        <div class="input-fields">
                            <label for="cvc">CVC:</label>
                            <input type="text" id="cvc" name="cvc">
                        </div>
                    </div>

                </div>
            </form>
        </div>

        <div class="buttons">
            <button type="button" onclick="window.history.back()">Cancel</button>
            <button type="submit" form="payment-form">Submit</button>
        </div>

    </main>
    {% include "_footer.html" %}
    <script src="{% static 'js/finalization.js' %}"></script>

</body>
</html>