<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/buyer/success_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div class="page-container">
        {% include '_navigation.html' %}
        <div class="alert-success">
            <h2 class="text-success">Your transaction has been completed successfully!</h2>
            <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExY2Fnc21vMDZyeGRhd3c0NHJ5ODBjZDJmeGJ2cTRoM3I2ZHZub2liNCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/rrasLFSTyi4Th1e8Xo/giphy.gif" alt="success pic">
            <a href="/buyer/home/" class="home-page-link">Go to homepage</a>
        </div>
    </div>

    {% include "_footer.html" %}
</body>
</html>