<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/finalization_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    {% include '_navigation.html' %}
    <div class="input-fields-container">
        <h2>Review Your Finalization</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="input-fields">
                <label for="contact-name">Contact name:</label>
                <input type="text" id="contact-name" name="contact-name" value="{{ contact_name }}" readonly>
            </div>

            <div class="input-fields">
                <label for="contact-email">Contact email:</label>
                <input type="email" id="contact-email" name="contact-email" value="{{ contact_email }}" readonly>
            </div>

            <div class="input-fields">
                <label for="contact-address">Contact address</label>
                <input type="text" id="contact-address" name="contact-address" value="{{ contact_address }}" readonly>
            </div>

            <div class="input-fields">
                <label for="contact-zip">Contact postal code</label>
                <input type="text" id="contact-zip" name="contact-zip" value="{{ contact_zip }}" readonly>
            </div>

            <div class="input-fields">
                <label for="contact-country">Country</label>
                <input type="text" id="contact-country" name="contact-country" value="{{ country }}" readonly>
            </div>

            <div class="input-fields">
                <label for="contact-id">National ID</label>
                <input type="text" id="contact-id" name="contact-id" value="{{ contact_id }}" readonly>
            </div>

            <div class="input-fields">
                <label>Payment option:</label>
                <input type="text" value="{{ payment_option }}" readonly>
            </div>

            {% if payment_option == 'credit_card' %}
                <div class="input-fields">
                    <label for="cardholder-name">Cardholder name:</label>
                    <input type="text" id="cardholder-name" name="cardholder-name" value="{{ cardholder_name }}" readonly>
                </div>
                <div class="input-fields">
                    <label for="card-number">Card number:</label>
                    <input type="text" id="card-number" name="card-number" value="{{ card_number }}" readonly>
                </div>
                <div class="input-fields">
                    <label for="expiry-date">Expiry date:</label>
                    <input type="month" id="expiry-date" name="expiry-date" value="{{ expiry_date }}" readonly>
                </div>
                <div class="input-fields">
                    <label for="cvc">CVC:</label>
                    <input type="text" id="cvc" name="cvc" value="{{ cvc }}" readonly>
                </div>
            {% elif payment_option == 'bank_transfer' %}
                <div class="input-fields">
                    <label for="bank-acc">Bank account:</label>
                    <input type="text" id="bank-acc" name="bank-acc" value="{{ bank_acc }}" readonly>
                </div>
            {% elif payment_option == 'mortgage' %}
                <div class="input-fields">
                    <label for="provider">Mortgage provider:</label>
                    <input type="text" id="provider" name="provider" value="{{ provider }}" readonly>
                </div>
            {% endif %}

            <div class="buttons">
                <button type="button" onclick="window.history.back()">Go Back</button>
                <button type="submit" formaction="{% url 'finalization_success' %}">Finalize</button>
            </div>
        </form>
    </div>
    {% include "_footer.html"%}
</body>
</html>