<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/seller/seller_profile_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    {% include '_navigation.html' %}

    <div class="page-container">
        <form method="post" enctype="multipart/form-data" action="{% url 'seller_profile' %}">
            {% csrf_token %}

            <div class="form-container">

                <div class="images-container">
                    <div class="banner-wrapper">
                        <div class="banner-container">
                            {% if user.seller.cover_image %}
                                <img id="banner-preview" src="/media/{{user.seller.cover_image}}" alt="Cover Image">
                            {% else %}
                                <img id="banner-preview" src="/static/images/seller_photos/banner_placeholder.png"  alt="Cover Image">
                            {% endif %}
                        </div>

                        <div class="floating-images">
                            <div class="profile-container custom-upload">
                                {% if user.seller.profile_image_url %}
                                    <img id="profile-preview" src="/media/{{user.seller.profile_image_url}}" alt="Profile Picture">
                                {% else %}
                                    <img id="profile-preview" src="/static/images/seller_photos/profile_placeholder.jpg"  alt="Profile Picture">
                                {% endif %}
                            </div>

                            <div class="logo-container custom-upload">
                                 {% if user.seller.logo %}
                                    <img id="logo-preview" src="/media/{{user.seller.logo}}" alt="Logo">
                                {% else %}
                                    <img id="logo-preview" src="/static/images/seller_photos/logo_placeholder.png"  alt="Logo">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-sections-container">
                    <div class="input-fields-container">
                        <div class="input-field">
                            <label for="name">Name: </label>
                            {{ form.name }}
                        </div>
                        <div class="input-field">
                            <label>Type: </label>
                            {{form.seller_type}}
                        </div>
                        <div class="input-field">
                            <label>Email: </label>
                            {{form.email}}
                        </div>
                        <div class="input-field">
                            <label>Street: </label>
                            {{form.street}}
                        </div>
                        <div class="input-field">
                            <label>House number: </label>
                            {{form.house_numb}}
                        </div>
                        <div class="input-field">
                            <label>City: </label>
                            {{form.city}}
                        </div>
                        <div class="input-field">
                            <label>Country: </label>
                            {{form.country}}
                        </div>
                        <div class="input-field">
                            <label>ZIP: </label>
                            {{form.zip_code}}
                        </div>
                        <div class="input-field">
                            <label>Bio: </label>
                            {{form.bio}}
                        </div>
                    </div>

                    <div class="image-upload-buttons">
                        <div class="image-upload-button">
                            <label>Change cover image</label>
                            {{ form.cover_image.as_widget }}
                        </div>
                        <div class="image-upload-button">
                            <label>Change profile picture</label>
                            {{ form.profile_image_url }}
                        </div>
                        <div class="image-upload-button">
                            <label>Change logo</label>
                            {{ form.logo.as_widget }}
                        </div>
                    </div>
                </div>


            </div>

            <div class="buttons">
                <button type="button" onclick="window.history.back()">Go Back</button>
                <input type="submit" value="Save" onclick="console.log(form)">
            </div>

        </form>
    </div>
    {% include '_footer.html' %}
</body>
</html>