<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="{% static 'js/password_check.js' %}"></script>
</head>
<body>
    {% include "_navigation.html" %}

    <div class="input-fields-container">
        <h2>Register</h2>

        <!-- Loop over Django messages (success, error, warnings) and display them -->
        {% for msg in messages %}
          <div class="message {{ msg.tags }}">
            {{ msg }}
          </div>
        {% endfor %}

        <!-- Registration form -->
        <form class="registration-form" method="POST" action="{% url 'register_as_seller' %}">
            {% csrf_token %}
            <!-- Input fields -->
            <div class="input-field">
                <label> {{form.username.label}}</label>
                {{form.username}}
            </div>

            <div class="input-field">
                <label>{{form.email.label}}</label>
                {{form.email}}    
            </div>

            <div class="input-field">
                <label>{{form.password1.label}}</label>
                {{form.password1}}
            </div>

            <div class="input-field">
                <label>{{form.password2.label}}</label>
                {{form.password2}}
            </div>

            <!-- Buttons container -->
            <div class="buttons">
                <!-- Go back to previous page -->
                <button type="button" onclick="window.history.back()">Go back</button>
                <!-- Submit the form -->
                <button type="submit">Register</button>
            </div> 

        </form>

    </div>

    {% include "_footer.html" %}

</body>
</html>