<style>
    .footer {
        background-color: #F8F8FF;
        padding-bottom: 0.5rem;
    }

    .footer-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0.5rem 0;
    }

    .footer-links a,
    .social-icons a {
        color: black;
        margin: 0 0.5rem;
        text-decoration: none;
    }

    .footer-links a:hover,
    .social-icons a:hover {
        text-decoration: underline;
    }

    .footer-copyright {
        color: grey;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<footer class="footer">
    <div class="footer-row">
        <p class="footer-links">
            <a href="#">About us</a>
            <a href="#">Terms of Service</a>
        </p>

        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook fa-lg"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
            <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
        </div>
    </div>

    <p class="footer-copyright">&copy; 2025 Castle Apartments. All rights reserved.</p>
</footer>