<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/_navigation_style.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
             <!-- App logo/title -->
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    

                    <!-- Conditional rendering if user is logged in -->
                    {% if user.is_authenticated %}

                        {% if user.buyer  %}
                            <a class="navbar-brand" href="/">Castle Apartments</a>
                            <li class="active">
                                <a class="new_link" href="{% url 'catalogue' %}">Catalogue</a>
                            </li>
                            <li class="active">
                                <a class="new_link" href="{% url 'sellers' %}">Sellers</a>
                            </li>
                            <!-- Buyer-specific links -->
                            <li class="active">
                                <a class="new_link" href="{% url 'my_offers' %}">My offers</a>
                            </li>
                            <li class="active">
                                <a class="new_link" href="{% url 'buyer_profile' %}">
                                    <img src=" /media/{{user.buyer.profile_image_url}}" alt="Profile Picture" class="profile-pic">
                                </a>
                            </li>
                        {% elif user.seller %}
                            <!-- Seller-specific links -->
                            <a class="navbar-brand" href="{% url 'seller_home' %}">Castle Apartments</a>
                            <li class="active">
                                <a class="new_link" href="{% url 'seller_offers' %}">Offers</a>
                            </li>
                            <li class="active">
                                <a class="new_link" href="{% url 'seller_listings' %}">Manage Listings</a>
                            </li>
                            <li class="active">
                                <a class="new_link" href="{% url 'seller_profile' %}">
                                    <img src="/media/{{user.seller.profile_image_url}}" alt="Profile Pic" class="profile-pic">  <!-- Same here for seller -->
                                </a>
                            </li>
                            
                        {% endif %}

                        <!-- Logout form for authenticated users -->
                        <li class="active">
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="new_link" id="logOut">Logout</button>
                            </form>
                        </li>
                    {% else %}
                        <!-- Static navigation links -->
                         <a class="navbar-brand" href="/">Castle Apartments</a>
                        <li class="active">
                            <a class="new_link" href="{% url 'catalogue' %}">Catalogue</a>
                        </li>
                        <li class="active">
                            <a class="new_link" href="{% url 'sellers' %}">Sellers</a>
                        </li>
                        <!-- If not logged in, show login button -->
                        <li class="active">
                            <a class="new_link" id="logIn" href="{% url 'log_in' %}">Log In</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>