<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    {% load static %}
    <link rel="stylesheet" href={% static 'css/login_style.css' %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    {% include "_navigation.html" %}
    <div class="credentials-constructor">
        <div class="input-row">
            <label for="email">Email: </label>
            <input type="text" id="email">
        </div>
        <div class="input-row">
            <label for="pw">Password: </label>
            <input type="text" id="pw">
        </div>
    </div>

    <div class="registration-link">
        <a href="{% url "register" %}">Register here</a>
    </div>

    <div class="buttons">
        <button type="button" onclick="window.history.back()">Cancel</button>
        <input type="submit" value="OK" onclick="redirectToBuyer()">
    </div>

    {% include "_footer.html" %}
    <script>
        function redirectToBuyer() {
            // Redirecting directly to the buyer's interface (e.g., catalogue page) without checking login credentials
            window.location.href = "{% url 'buyer_home' %}";
        }
    </script>
</body>
</html>