<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sellers</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/buyer/sellers_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- FYRIR FILTERA -->
    <script src="{% static 'js/seller_filter.js' %}"></script>
</head>
<body>
    <div class="page-container">
        {% include "_navigation.html" %}
        <div class="sellers-page-container">
            <!-- Search bar -->
            <div class="search">
                <input type="search" id="search-value" name="search" placeholder="Enter sellers name, type, address or city"><button type="button" id="apply-filters" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>


            <div class="sellers-grid" id="sellers-listed">
                {% for seller in sellers %}
                    <div class="seller-card">
                        <div class="seller-img">
                            <img src="/static/{{ seller.profile_image_url }}" alt="Seller image">
                        </div>
                        <div class="seller-info">
                            <p class="seller-name">{{seller.name}}</p>
                            <p class="seller-type">{{seller.seller_type}}</p>
                            {% if seller.street %}
                                <p class="seller-address">{{seller.city}}, {{seller.street}} {{seller.house_numb}} <br /></p>
                            {% endif %}
                            <a href="/sellers/{{seller.id}}/"> See more </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "_footer.html" %}
</body>
</html>