<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seller</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/seller_profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    {% include "_navigation.html" %}
    <div class="page-container">

        {% if seller.seller_type == "Agency" %}
            <div class="img-container">
                <img class="cover-img" src="/static/{{ seller.cover_image }}" alt="Cover Image">
                <img class="logo" src="/static/{{ seller.logo }}" alt="Logo">
            </div>
        {% endif %}


        <div class="details-container">
            <div class="info-container">
                <p><strong>Name: </strong>{{ seller.name }}</p>
                <p><strong>Type: </strong>{{ seller.seller_type }}</p>

                {% if seller.seller_type == "Agency" %}
                    <p><strong>Street: </strong>{{ seller.street }}</p>
                    <p><strong>City: </strong>{{ seller.city }}</p>
                    <p><strong>ZIP: </strong>{{ seller.zip_code }}</p>
                {% endif %}

                <p><strong>Bio: </strong>{{ seller.bio }}</p>
            </div>

            <div class="properties-container">
                <p><strong>Properties:</strong></p>

                <div class="property-cards">
                    {% if properties%}
                        {% for property in properties %}
                            <a href="/catalogue/{{property.id}}/">
                                <div  class="property-card">
                                    <img id="property-img" src="/static/{{ property.thumbnail }}" alt="Property image">
                                    <div class="property-info">
                                        <p class="property-address">{{property.street}} {{property.number}} , {{property.type}}</p>
                                        <p class="property-address">Price: {{property.price}}</p>
                                        <div class="rooms">
                                            <span>Rooms: {{property.rooms}}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        <p>No properties available.</p>
                    {% endif %}
                </div>
            </div>

        </div>


    </div>


    <div class="buttons">
        <button type="button" onclick="window.history.back()">Go Back</button>
    </div>

    {% include "_footer.html" %}
</body>
</html>