<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/buyer/finalization_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    {% include '_navigation.html' %}
    <div class="input-fields-container">
        <h2>Review Your payment information</h2>

        <form id="finalization-form" method="GET" action="{% url 'finalization_revision' transaction.id %}">
            <h3> contact info</h3>
            <div class="input-fields">
                <label for="contact-name">Contact name:</label>
                {{form1.contact_name}}
            </div>
            <div class="input-fields">
                <label for="contact_email">Contact email:</label>
                {{form1.contact_email}}
            </div>
            <div class="input-fields">
                <label for="contact_street">Contact address:</label>
                {{form1.contact_street}} {{form1.contact_house_number}}
            </div>
            <div class="input-fields">
                <label for="contact_zip">Contact zip:</label>
                {{form1.contact_zip}}
            </div>
            <div class="input-fields">
                <label for="contact_country">Contact country:</label>
                {{form1.contact_country}}
            </div>
            <div class="input-fields">
                <label for="contact_SSN">Contact SSN:</label>
                {{form1.contact_SSN}}
            </div>
            
            <h3> payment info</h3>
            {{ form2.as_p}}
        </form>

        <div class="buttons">
            <button type="button" data-id2= "{{ paymentmethod }}" data-id = "{{ transaction.id }}" class= "change-finalize-button">Edit</button>
            <button type="button" data-id3 = "{{ transaction.id }}" class="finalize-button">Finalize</button>
        </div>
    </div>

    {% include "_footer.html"%}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const ChangePaymentInfoOfferBtn = document.querySelector(".change-finalize-button");

            if (ChangePaymentInfoOfferBtn) {

                ChangePaymentInfoOfferBtn.addEventListener('click', function() {
                    const transactionID = this.getAttribute('data-id');
                    const paymentmethod = this.getAttribute('data-id2');

                    switch(paymentmethod) {
                                case 'transactionBT':
                                    window.location.href = `/transaction/finalization/${transactionID}/bank-transafer`;
                                    break;
                                case 'transactionM':
                                    window.location.href = `/transaction/finalization/${transactionID}/mortgage`;
                                    break;
                                default:
                                    window.location.href = `/transaction/finalization/${transactionID}/credit-card`;

                            }
                });
            }

            const FinalizeOfferBtn = document.querySelector(".finalize-button");

            if (FinalizeOfferBtn) {

                FinalizeOfferBtn.addEventListener('click', function() {
                    const transactionID2 = this.getAttribute('data-id3');
                    window.location.href = `/transaction/finalization/${transactionID2}/success`;

                });
            }

        })
        console.log("HELLOO MAAAAAAAA")
    </script>

</body>
</html>