<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    {% load static %}
   <link rel="stylesheet" href="{% static 'css/finalization_payment_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    {% include "_navigation.html" %}

    <main class="main-content">

        <div class="page-container">

            <form id="payment-form" method="post" action="{% url 'finalization_credit' %}">
                {% csrf_token %}
                <div class="payment">

                    <div id="bank-fields" class="payment-fields">
                        <div class="input-fields">
                            <label for="provider">Bank account:</label>
                            <input type="text" id="provider" name="provider">
                        </div>
                    </div>

                </div>
            </form>
        </div>

        <div class="buttons">
            <button type="button" data-id="{{ transaction.offer.id }}" class="back-contact-info-button">Back</button>
            <button type="submit" form="payment-form">Submit</button>
        </div>

    </main>

    {% include "_footer.html" %}
    <script src="{% static 'js/finalization.js' %}"></script>

</body>
</html>