<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/finalization_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    {% include '_navigation.html' %}
    <div class="input-fields-container">
        <h2>Review Your payment information</h2>

        <form method="GET" action="{% url 'finalization_revision' transaction.id %}">
            <h3> contact info</h3>
            <div class="input-fields">
                <label for="contact-name">Contact name:</label>
                {{form1.contact_name}}
            </div>
            <div class="input-fields">
                <label for="contact_email">Contact email:</label>
                {{form1.contact_email}}
            </div>
            <div class="input-fields">
                <label for="contact_street">Contact address:</label>
                {{form1.contact_street}} {{form1.contact_house_number}}
            </div>
            <div class="input-fields">
                <label for="contact_zip">Contact zip:</label>
                {{form1.contact_zip}}
            </div>
            <div class="input-fields">
                <label for="contact_country">Contact country:</label>
                {{form1.contact_country}}
            </div>
            <div class="input-fields">
                <label for="contact_SSN">Contact SSN:</label>
                {{form1.contact_SSN}}
            </div>
            
            <h3> payment info</h3>
            {{ form2.as_p}}
        </form>

        
            <!-- 
            {% if payment_option == 'credit_card' %}
                <div class="input-fields">
                    <label for="cardholder-name">Cardholder name:</label>
                    <input type="text" id="cardholder-name" name="cardholder-name" value="{{ cardholder_name }}" readonly>
                </div>
                <div class="input-fields">
                    <label for="card-number">Card number:</label>
                    <input type="text" id="card-number" name="card-number" value="{{ card_number }}" readonly>
                </div>
                <div class="input-fields">
                    <label for="expiry-date">Expiry date:</label>
                    <input type="month" id="expiry-date" name="expiry-date" value="{{ expiry_date }}" readonly>
                </div>
                <div class="input-fields">
                    <label for="cvc">CVC:</label>
                    <input type="text" id="cvc" name="cvc" value="{{ cvc }}" readonly>
                </div>
            {% elif payment_option == 'bank_transfer' %}
                <div class="input-fields">
                    <label for="bank-acc">Bank account:</label>
                    <input type="text" id="bank-acc" name="bank-acc" value="{{ bank_acc }}" readonly>
                </div>
            {% elif payment_option == 'mortgage' %}
                <div class="input-fields">
                    <label for="provider">Mortgage provider:</label>
                    <input type="text" id="provider" name="provider" value="{{ provider }}" readonly>
                </div>
            {% endif %} -->

            <div class="buttons">
                <button type="button" data-id2= "{{ paymentmethod }}" data-id = "{{ transaction.id }}" class= "change-finalize-button">Edit</button>
                <button type="submit" formaction="{% url 'finalization_success' transaction.id %}">Finalize</button>
            </div>
        </form>
    </div>
    {% include "_footer.html"%}
</body><script>
    document.addEventListener('DOMContentLoaded', function() {
        const ChangePaymentInfoOfferBtn = document.querySelector(".change-finalize-button");
       
        if (ChangePaymentInfoOfferBtn) {
            
            ChangePaymentInfoOfferBtn.addEventListener('click', function() {
                const transactionID = this.getAttribute('data-id');
                const paymentmethod = this.getAttribute('data-id2');

                switch(paymentmethod) {
                            case 'transactionBT':
                                window.location.href = `/transaction/finalization/${transactionID}/bank-transafer`;
                                break;
                            case 'transactionM':
                                window.location.href = `/transaction/finalization/${transactionID}/mortgage`;
                                break;
                            default:
                                window.location.href = `/transaction/finalization/${transactionID}/credit-card`;
                              
                        }
            });
        }

    })
    console.log("HELLOO MAAAAAAAA")
</script>
</html>